@page "/"

<head>
    <link rel="icon" type="image/png" href="/css/Images/favicon1.ico">
    <PageTitle>KANTAIM</PageTitle>
</head>


<div id="main">
    <br />
    <p>Application KANTAIM</p>
    <p>Kanban To Assembly INKJET Molding</p>
    <img id="img" src="./css/Images/LogoMLV.png" height="600" />
</div>
<style>
    #main {
        padding-bottom: 10px;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        background: no-repeat center;
    }
</style>
