@page "/TransferPge"
@using KANTAIM.DAL.Model;
@using MudBlazor
@using static MudBlazor.Icons
@using Microsoft.AspNetCore.Components.Routing


<style>

    .main-container {
        padding: 10px;
        font-family: 'Roboto', sans-serif;
    }

    .selection-container, .display-container {
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin-bottom: 20px;
    }

    .title {
        color: #333333;
        text-align: center;
        margin-bottom: 20px;
    }

    .redtitle {
        color: red;
        text-align: center;
        margin-bottom: 20px;
    }

    .status-display, .status-item {
        color: #555555;
        margin: 10px 0;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 10px;
    }

    .button-group {
        display: flex;
        justify-content: space-evenly;
    }

    .fillstatus-container {
        text-align: center;
    }


    .bouton {
        margin: 5px;
    }

</style>

<h3>Page de transfert</h3>

@switch(state)
{
    case 3:
        <div class="display-container">

            <h3 class="title">
                Bien Transféré
            </h3>
        </div>
        break;
    
    case 2:
        <div class="display-container">
            <h3 class="title">Svp Scannez un autre contenaire dans le quel vous voulez transférer</h3>
            <MudText> @TextValue</MudText>
            @* <div>
                <MudTextField @bind-Value="autreValue" AutoFocus="true" Label="Standard" Variant="MudBlazor.Variant.Text" Immediate="true" ></MudTextField>
            </div> *@
        </div>
        <div class="button-group">
            <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="()=>ContainerScanner=null">Retour</MudButton>
        </div>
        break;
    case 1 :
        <div class="display-container">
            <h3 class="title">Transfert du @ContainerScanner.Number vers @AutreScanner.Number</h3>
        </div>
        <div class="button-group">
            <MudButton Color="Color.Error" Variant="MudBlazor.Variant.Filled" OnClick="()=>AutreScanner=null">Retour</MudButton>
            <MudButton Color="Color.Success" Variant="MudBlazor.Variant.Filled" OnClick="()=>transferInformation()">Valider</MudButton>
        </div>
        break;
    case 0 :
        <div class="display-container">
            <h3 class="title">Svp Scannez le contenaire que vous voulez transférer</h3>
            <MudText> @TextValue</MudText>
            @* <div>
                <MudTextField @bind-Value="ContainerValue" AutoFocus="true" Label="Standard" Variant="MudBlazor.Variant.Text" Immediate="true"></MudTextField>
            </div> *@
        </div>
        break;

}




