@page "/Autre/Kantaim"

<PageTitle>Kantaim</PageTitle>

<div id="main">
    <br />
    <p>Bonjour, Je suis Quentin l'homme Kanban !</p>
    <img id="img" src="./css/Images/QHKanban.jpg" height="600" />
</div>
<style>
    #main {
        padding-bottom: 10px;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        background: no-repeat center;
    }
</style>