@page "/Consultation/PowerBI/IntegrerPge"
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;
@using MudBlazor
@using static MudBlazor.Icons

<style>
    .iframe-container iframe {
        width: 100%;
        height: 835px;
    }
</style>

<div class="iframe-container" style="margin-top: 10px;">
    <iframe src="https://app.powerbi.com/reportEmbed?reportId=f6b0dd1d-66b5-44db-948e-121ace11da7c&autoAuth=true&ctid=c7901014-5560-49ef-a689-3c215c6092ee" frameborder="0" allowfullscreen></iframe>
</div>


