@page "//app.powerbi.com/links/a4oipgvg7d?ctid=c7901014-5560-49ef-a689-3c215c6092ee&pbi_source=linkShare"
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;
@using MudBlazor
@using static MudBlazor.Icons
<h3>IntegrerPge</h3>


