@page "/ScannerPge"

@layout PhoneLayout
@using KANTAIM.DAL.Model;
@using KANTAIM.WEB.ViewModels;
@using MudBlazor
@using static MudBlazor.Icons

<style>

    .title {
        color: #333333;
        text-align: center;
        margin-bottom: 20px;
    }


</style>

<h3 class="title">
    Scannez un QR Code svp
</h3>

@* <MudTextField Disabled=true id="myInput" @bind-Value="TextValue" Label="Standard" Variant="MudBlazor.Variant.Text" Immediate="true"></MudTextField> *@
<MudText > @TextValue</MudText>
